// Fonts imported in index.html

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-abril: 'Abril Fatface', serif;
}

$font-principal: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-accent: 'Abril Fatface', serif;
